<main class="mt-3">
    <style>
        .page-content h4.card-header {
            color: #333;
            font-size: 1.0rem;
            padding-top: 5px;
            padding-bottom: 5px;
        }
    </style>
    <div class="container-fluid px-0 page-content bg-white">
        <div class="row no-gutters">
            <div class="col">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <h3>通信アダプタ</h3>
                        </div>
                    </div>
                    <div class="row mb-5">
                        <div class="col-md-6">
                            <div class="card shadow-sm">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item"><a href="https://www.kaneka-solar-marketing.jp/pdf/manual/manual_tsushin_adapter_01.pdf" target="_blank">通信アダプタ 初期設定マニュアル <img src="{{ 'common_icon_pdf.png' | asset_url }}" width="12" alt="PDF"></a></li>
                                    <li class="list-group-item"><a href="https://www.kaneka-solar-marketing.jp/pdf/manual/manual_tsushin_adapter_02.pdf" target="_blank">カネカEMS 取扱説明書 <img src="{{ 'common_icon_pdf.png' | asset_url }}" width="12" alt="PDF"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <h3 class="mb-3">EIG</h3>
                        </div>
                    </div>
                    <div class="row justify-content-end mb-4 mb-md-0">
                        <div class="col-auto"><a href="#eig-old-model"><i class="fas fa-chevron-right"></i> 旧機種はこちら</a></div>
                    </div>
                    <div class="row mb-5">
                        <div class="col-md-6">
                            <div class="card shadow-sm">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item"><a href="https://www.kaneka-solar-marketing.jp/pdf/manual/manual_eig_01.pdf" target="_blank">取扱説明書 <img src="{{ 'common_icon_pdf.png' | asset_url }}" width="12" alt="PDF"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <h3>蓄電システム</h3>
                        </div>
                    </div>
                    <div class="row mb-5">
                        <div class="col-md-6 mb-3">
                            <div class="card shadow-sm">
                                <h4 class="card-header mb-0">フレキシブル蓄電システム KPAC-A25</h4>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item"><a href="https://www.kaneka-solar-marketing.jp/pdf/manual/manual_chikudenchi_01.pdf" target="_blank">取扱説明書（KPAC-A25用）6.5kWhタイプ <img src="{{ 'common_icon_pdf.png' | asset_url }}" width="12" alt="PDF"></a></li>
                                    <li class="list-group-item"><a href="https://www.kaneka-solar-marketing.jp/pdf/manual/manual_pcs_20.pdf" target="_blank">JET認証書 <img src="{{ 'common_icon_pdf.png' | asset_url }}" width="12" alt="PDF"></a></li>
                                    <li class="list-group-item"><a href="https://www.kaneka-solar-marketing.jp/pdf/manual/manual_pcs_21.pdf" target="_blank">JET認証証明書(特定負荷用分電盤あり：MB-0013) <img src="{{ 'common_icon_pdf.png' | asset_url }}" width="12" alt="PDF"></a></li>
                                    <li class="list-group-item"><a href="https://www.kaneka-solar-marketing.jp/pdf/manual/manual_pcs_22.pdf" target="_blank">JET認証証明書(特定負荷用分電盤なし：MB-0014) <img src="{{ 'common_icon_pdf.png' | asset_url }}" width="12" alt="PDF"></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div class="card shadow-sm">
                                <h4 class="card-header mb-0">フレキシブル蓄電システム KPAC-A40</h4>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item"><a href="https://www.kaneka-solar-marketing.jp/pdf/manual/manual_chikudenchi_04.pdf" target="_blank">取扱説明書（KPAC-A40用）9.8kWhタイプ <img src="{{ 'common_icon_pdf.png' | asset_url }}" width="12" alt="PDF"></a></li>
                                    <li class="list-group-item"><a href="https://www.kaneka-solar-marketing.jp/pdf/manual/manual_pcs_20.pdf" target="_blank">JET認証書 <img src="{{ 'common_icon_pdf.png' | asset_url }}" width="12" alt="PDF"></a></li>
                                    <li class="list-group-item"><a href="https://www.kaneka-solar-marketing.jp/pdf/manual/manual_pcs_23.pdf" target="_blank">JET認証証明書(特定負荷用分電盤あり：MB-0016) <img src="{{ 'common_icon_pdf.png' | asset_url }}" width="12" alt="PDF"></a></li>
                                    <li class="list-group-item"><a href="https://www.kaneka-solar-marketing.jp/pdf/manual/manual_pcs_24.pdf" target="_blank">JET認証証明書(特定負荷用分電盤なし：MB-0017) <img src="{{ 'common_icon_pdf.png' | asset_url }}" width="12" alt="PDF"></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div class="card shadow-sm">
                                <h4 class="card-header mb-0">ハイブリッド蓄電システム KP55S4</h4>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item"><a href="https://www.kaneka-solar-marketing.jp/pdf/manual/manual_chikudenchi_02.pdf" target="_blank">取扱説明書(システム編) <img src="{{ 'common_icon_pdf.png' | asset_url }}" width="12" alt="PDF"></a></li>
                                    <li class="list-group-item"><a href="https://www.kaneka-solar-marketing.jp/pdf/manual/manual_chikudenchi_03.pdf" target="_blank">取扱説明書(専用表示ユニット編) <img src="{{ 'common_icon_pdf.png' | asset_url }}" width="12" alt="PDF"></a></li>
                                    <li class="list-group-item"><a href="https://www.kaneka-solar-marketing.jp/pdf/manual/manual_pcs_17.pdf" target="_blank">JET認証書 <img src="{{ 'common_icon_pdf.png' | asset_url }}" width="12" alt="PDF"></a></li>
                                    <li class="list-group-item"><a href="https://www.kaneka-solar-marketing.jp/pdf/manual/manual_pcs_18.pdf" target="_blank">JET認証証明書(特定負荷用分電盤あり：MD-0025) <img src="{{ 'common_icon_pdf.png' | asset_url }}" width="12" alt="PDF"></a></li>
                                    <li class="list-group-item"><a href="https://www.kaneka-solar-marketing.jp/pdf/manual/manual_pcs_19.pdf" target="_blank">JET認証証明書(特定負荷用分電盤なし：MD-0026) <img src="{{ 'common_icon_pdf.png' | asset_url }}" width="12" alt="PDF"></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div class="card shadow-sm">
                                <h4 class="card-header mb-0">マルチ蓄電プラットフォーム KPBP-A</h4>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <a href="https://www.kaneka-solar-marketing.jp/pdf/manual/manual_chikudenchi_05.pdf" target="_blank">
                                            取扱説明書 (KPBP-A) <img src="{{ 'common_icon_pdf.png' | asset_url }}" width="12" alt="PDF">
                                        </a>
                                    </li>
                                    <li class="list-group-item">
                                        <a href="https://www.kaneka-solar-marketing.jp/pdf/manual/manual_chikudenchi_06.pdf" target="_blank">
                                            取扱説明書 (KP-GWAP-MUBP) <img src="{{ 'common_icon_pdf.png' | asset_url }}" width="12" alt="PDF">
                                        </a>
                                    </li>
                                    <li class="list-group-item">
                                        <a href="https://www.kaneka-solar-marketing.jp/pdf/manual/manual_chikudenchi_07.pdf" target="_blank">
                                            簡易取扱説明書 (KP-GWBP-A) <img src="{{ 'common_icon_pdf.png' | asset_url }}" width="12" alt="PDF">
                                        </a>
                                    </li>
                                    <li class="list-group-item">
                                        <a href="https://www.kaneka-solar-marketing.jp/pdf/manual/manual_chikudenchi_08.pdf" target="_blank">
                                            JET認証証明書 1661-99003-004_20240315<img src="{{ 'common_icon_pdf.png' | asset_url }}" width="12" alt="PDF">
                                        </a>
                                    </li>
                                    <li class="list-group-item">
                                        <a href="https://www.kaneka-solar-marketing.jp/pdf/manual/manual_chikudenchi_09.pdf" target="_blank">
                                            JET認証証明書 1661-99003-005_20240315<img src="{{ 'common_icon_pdf.png' | asset_url }}" width="12" alt="PDF">
                                        </a>
                                    </li>
                                    <li class="list-group-item">
                                        <a href="https://www.kaneka-solar-marketing.jp/pdf/manual/manual_chikudenchi_10.pdf" target="_blank">
                                            JET認証証明書 MD-0046（Ver1.20、VE）<img src="{{ 'common_icon_pdf.png' | asset_url }}" width="12" alt="PDF">
                                        </a><br>
                                        KPBP-A：製造番号23412631以降<br>
                                        KPBP-A-S：製造番号23400607以降
                                    </li>
                                    <li class="list-group-item">
                                        <a href="https://www.kaneka-solar-marketing.jp/pdf/manual/manual_chikudenchi_11.pdf" target="_blank">
                                            JET認証証明書 MD-0046（Ver1.21、VF）<img src="{{ 'common_icon_pdf.png' | asset_url }}" width="12" alt="PDF">
                                        </a><br>
                                        KPBP-A：製造番号23614467以降<br>
                                        KPBP-A-S：製造番号23600679以降
                                    </li>
                                    <li class="list-group-item">
                                        <a href="https://www.kaneka-solar-marketing.jp/pdf/manual/manual_chikudenchi_12.pdf" target="_blank">
                                            JET認証証明書 MD-0046（Ver1.22、VG）<img src="{{ 'common_icon_pdf.png' | asset_url }}" width="12" alt="PDF">
                                        </a><br>
                                        KPBP-A：製造番号24523574以降<br>
                                        KPBP-A-S:製造番号末尾VG対応
                                    </li>
                                    <li class="list-group-item">
                                        <a href="https://www.kaneka-solar-marketing.jp/pdf/manual/manual_chikudenchi_13.pdf" target="_blank">
                                            JET認証証明書 MD-0046（Ver1.30、VH）<img src="{{ 'common_icon_pdf.png' | asset_url }}" width="12" alt="PDF">
                                        </a><br>
                                        ＜最新版＞ソフトVer.1.30、製造番号末尾VH対応<br>
                                        ※2024年6月以降出荷品をご購入の方はこちらをご利用ください
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <h3 class="mb-3">パワーコンディショナ</h3>
                        </div>
                    </div>
                    <div class="row justify-content-end mb-4 mb-md-2">
                        <div class="col-auto"><a href="#pcs-old-model"><i class="fas fa-chevron-right"></i> 旧機種はこちら</a></div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-auto">
                            <h4>オムロン ソーシアルソリューションズ</h4>
                        </div>
                    </div>
                    <div class="row mb-5">
                        <div class="col-6 col-md-6 mb-4">
                            <div class="card shadow-sm">
                                <h4 class="card-header mb-0">KPK-A40-KS</h4>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item"><a href="https://www.kaneka-solar-marketing.jp/pdf/manual/manual_pcs_11.pdf" target="_blank">取扱説明書 <img src="{{ 'common_icon_pdf.png' | asset_url }}" width="12" alt="PDF"></a></li>
                                    <li class="list-group-item"><a href="https://www.kaneka-solar-marketing.jp/pdf/manual/manual_pcs_12_01.pdf" target="_blank">JET認証証明書 <img src="{{ 'common_icon_pdf.png' | asset_url }}" width="12" alt="PDF"></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-6 col-md-6 mb-4">
                            <div class="card shadow-sm">
                                <h4 class="card-header mb-0">KPK-A55-KS</h4>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item"><a href="https://www.kaneka-solar-marketing.jp/pdf/manual/manual_pcs_11.pdf" target="_blank">取扱説明書 <img src="{{ 'common_icon_pdf.png' | asset_url }}" width="12" alt="PDF"></a></li>
                                    <li class="list-group-item"><a href="https://www.kaneka-solar-marketing.jp/pdf/manual/manual_pcs_12_02.pdf" target="_blank">JET認証証明書 <img src="{{ 'common_icon_pdf.png' | asset_url }}" width="12" alt="PDF"></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-6 col-md-6 mb-4">
                            <div class="card shadow-sm">
                                <h4 class="card-header mb-0">KPR-A48-KS</h4>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item"><a href="https://www.kaneka-solar-marketing.jp/pdf/manual/manual_pcs_14.pdf" target="_blank">取扱説明書 <img src="{{ 'common_icon_pdf.png' | asset_url }}" width="12" alt="PDF"></a></li>
                                    <li class="list-group-item"><a href="https://www.kaneka-solar-marketing.jp/pdf/manual/manual_pcs_15_01.pdf" target="_blank">JET認証証明書 <img src="{{ 'common_icon_pdf.png' | asset_url }}" width="12" alt="PDF"></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-6 col-md-6 mb-4">
                            <div class="card shadow-sm">
                                <h4 class="card-header mb-0">KPR-A56-KS</h4>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item"><a href="https://www.kaneka-solar-marketing.jp/pdf/manual/manual_pcs_14.pdf" target="_blank">取扱説明書 <img src="{{ 'common_icon_pdf.png' | asset_url }}" width="12" alt="PDF"></a></li>
                                    <li class="list-group-item"><a href="https://www.kaneka-solar-marketing.jp/pdf/manual/manual_pcs_15_02.pdf" target="_blank">JET認証証明書 <img src="{{ 'common_icon_pdf.png' | asset_url }}" width="12" alt="PDF"></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-6 col-md-6 mb-4">
                            <div class="card shadow-sm">
                                <h4 class="card-header mb-0">KP44M2-KS</h4>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item"><a href="https://www.kaneka-solar-marketing.jp/pdf/manual/manual_pcs_04.pdf" target="_blank">取扱説明書 <img src="{{ 'common_icon_pdf.png' | asset_url }}" width="12" alt="PDF"></a></li>
                                    <li class="list-group-item"><a href="https://www.kaneka-solar-marketing.jp/pdf/manual/manual_pcs_05_01.pdf" target="_blank">JET認証証明書 <img src="{{ 'common_icon_pdf.png' | asset_url }}" width="12" alt="PDF"></a></li>
                                    <li class="list-group-item"><a href=manual_pcs_07.pdf" target="_blank">安全上のご注意 <img src="{{ 'common_icon_pdf.png' | asset_url }}" width="12" alt="PDF"></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-6 col-md-6 mb-4">
                            <div class="card shadow-sm">
                                <h4 class="card-header mb-0">KP55M2-KS</h4>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item"><a href="https://www.kaneka-solar-marketing.jp/pdf/manual/manual_pcs_04.pdf" target="_blank">取扱説明書 <img src="{{ 'common_icon_pdf.png' | asset_url }}" width="12" alt="PDF"></a></li>
                                    <li class="list-group-item"><a href="https://www.kaneka-solar-marketing.jp/pdf/manual/manual_pcs_05_02.pdf" target="_blank">JET認証証明書 <img src="{{ 'common_icon_pdf.png' | asset_url }}" width="12" alt="PDF"></a></li>
                                    <li class="list-group-item"><a href="https://www.kaneka-solar-marketing.jp/pdf/manual/manual_pcs_07.pdf" target="_blank">安全上のご注意 <img src="{{ 'common_icon_pdf.png' | asset_url }}" width="12" alt="PDF"></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-6 col-md-6 mb-4">
                            <div class="card shadow-sm">
                                <h4 class="card-header mb-0">KP59R-KS-A</h4>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item"><a href="https://www.kaneka-solar-marketing.jp/pdf/manual/manual_pcs_08.pdf" target="_blank">取扱説明書 <img src="{{ 'common_icon_pdf.png' | asset_url }}" width="12" alt="PDF"></a></li>
                                    <li class="list-group-item"><a href="https://www.kaneka-solar-marketing.jp/pdf/manual/manual_pcs_09.pdf" target="_blank">JET認証証明書 <img src="{{ 'common_icon_pdf.png' | asset_url }}" width="12" alt="PDF"></a></li>
                                    <li class="list-group-item"><a href="https://www.kaneka-solar-marketing.jp/pdf/manual/manual_pcs_10.zip">系統連系申請（記入例）</a> <img src="{{ 'common_icon_zip.png' | asset_url }}" width="16" alt="ZIP"></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col">
                            <div class="d-flex">
                                <h4>デルタ電子</h4>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-5">
                        <div class="col-6 col-md-6 mb-4">
                            <div class="card shadow-sm">
                                <h4 class="card-header mb-0">H4.5_230 / H6J_240</h4>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <a href="https://www.kaneka-solar-marketing.jp/pdf/manual/manual_pcs_manual_H4.5_230_H6J_240.pdf" target="_blank">
                                            取扱説明書 <img src="{{ 'common_icon_pdf.png' | asset_url }}" width="12" alt="PDF">
                                        </a>
                                    </li>
                                    <li class="list-group-item">
                                        <a href="https://www.kaneka-solar-marketing.jp/pdf/manual/manual_pcs_jet_H6J_240.pdf" target="_blank">
                                            JET認証証明書 H6J_240 (MP-0174) <img src="{{ 'common_icon_pdf.png' | asset_url }}" width="12" alt="PDF">
                                        </a>
                                    </li>
                                    <li class="list-group-item">
                                        <a href="https://www.kaneka-solar-marketing.jp/pdf/manual/manual_pcs_jet_H4.5_230.pdf" target="_blank">
                                            JET認証証明書 H4.5_230 (MP-0182) <img src="{{ 'common_icon_pdf.png' | asset_url }}" width="12" alt="PDF">
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <h3 id="eig-old-model">表示ユニット 旧機種</h3>
                        </div>
                    </div>
                    <div class="row mb-5">
                        <div class="col-6 col-md-6 mb-4">
                            <div class="card shadow-sm">
                                <h4 class="card-header mb-0">KP-CM-D1</h4>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item"><a href="https://www.kaneka-solar-marketing.jp/pdf/manual/manual_eig_old_01.pdf" target="_blank">取扱説明書 <img src="{{ 'common_icon_pdf.png' | asset_url }}" width="12" alt="PDF"></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-6 col-md-6 mb-4">
                            <div class="card shadow-sm">
                                <h4 class="card-header mb-0">KP-CM2-D</h4>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item"><a href="https://www.kaneka-solar-marketing.jp/pdf/manual/manual_eig_old_02.pdf" target="_blank">取扱説明書 <img src="{{ 'common_icon_pdf.png' | asset_url }}" width="12" alt="PDF"></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-6 col-md-6 mb-4">
                            <div class="card shadow-sm">
                                <h4 class="card-header mb-0">KP-DP1</h4>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item"><a href="https://www.kaneka-solar-marketing.jp/pdf/manual/manual_eig_old_03.pdf" target="_blank">取扱説明書 <img src="{{ 'common_icon_pdf.png' | asset_url }}" width="12" alt="PDF"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <h3 id="pcs-old-model">パワーコンディショナ 旧機種</h3>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <h4>GSユアサ (旧日本電池)</h4>
                        </div>
                    </div>
                    <div class="row mb-5">
                        <div class="col-6 col-md-6 mb-4">
                            <div class="card shadow-sm">
                                <h4 class="card-header mb-0">LBSC-4.5-S3C 及び SI-04</h4>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item"><a href="https://www.kaneka-solar-marketing.jp/pdf/manual/manual_pcs_linebackfx.pdf" target="_blank">ラインバックFX <br class="d-inline d-sm-none">取扱説明書 <img src="{{ 'common_icon_pdf.png' | asset_url }}" width="12" alt="PDF"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h4>三菱電機</h4>
                        </div>
                    </div>
                    <div class="row mb-5">
                        <div class="col-6 col-md-6 mb-4">
                            <div class="card shadow-sm">
                                <h4 class="card-header mb-0">PV-PN04B3</h4>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item"><a href="https://www.kaneka-solar-marketing.jp/pdf/manual/manual_pcs_PV-PN04B3.pdf" target="_blank">取扱説明書 <img src="{{ 'common_icon_pdf.png' | asset_url }}" width="12" alt="PDF"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h4>オムロン</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 col-md-6 mb-4">
                            <div class="card shadow-sm">
                                <h4 class="card-header mb-0">KP40F</h4>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item"><a href="https://www.kaneka-solar-marketing.jp/pdf/manual/manual_pcs_KP40F_KP55F.pdf" target="_blank">取扱説明書 <img src="{{ 'common_icon_pdf.png' | asset_url }}" width="12" alt="PDF"></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-6 col-md-6 mb-4">
                            <div class="card shadow-sm">
                                <h4 class="card-header mb-0">KP55F-N</h4>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item"><a href="https://www.kaneka-solar-marketing.jp/pdf/manual/manual_pcs_KP40F_KP55F.pdf" target="_blank">取扱説明書 <img src="{{ 'common_icon_pdf.png' | asset_url }}" width="12" alt="PDF"></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-6 col-md-6 mb-4">
                            <div class="card shadow-sm">
                                <h4 class="card-header mb-0">KP40H</h4>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item"><a href="https://www.kaneka-solar-marketing.jp/pdf/manual/manual_pcs_KP40H.pdf" target="_blank">取扱説明書 <img src="{{ 'common_icon_pdf.png' | asset_url }}" width="12" alt="PDF"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 col-md-6 mb-4">
                            <div class="card shadow-sm">
                                <h4 class="card-header mb-0">KP40K</h4>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item"><a href="https://www.kaneka-solar-marketing.jp/pdf/manual/manual_pcs_KP40K_KP55K_KP40K2_KP55K2.pdf" target="_blank">取扱説明書 <img src="{{ 'common_icon_pdf.png' | asset_url }}" width="12" alt="PDF"></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-6 col-md-6 mb-4">
                            <div class="card shadow-sm">
                                <h4 class="card-header mb-0">KP55K</h4>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item"><a href="https://www.kaneka-solar-marketing.jp/pdf/manual/manual_pcs_KP40K_KP55K_KP40K2_KP55K2.pdf" target="_blank">取扱説明書 <img src="{{ 'common_icon_pdf.png' | asset_url }}" width="12" alt="PDF"></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-6 col-md-6 mb-4">
                            <div class="card shadow-sm">
                                <h4 class="card-header mb-0">KP40K2</h4>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item"><a href="https://www.kaneka-solar-marketing.jp/pdf/manual/manual_pcs_KP40K_KP55K_KP40K2_KP55K2.pdf" target="_blank">取扱説明書 <img src="{{ 'common_icon_pdf.png' | asset_url }}" width="12" alt="PDF"></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-6 col-md-6 mb-4">
                            <div class="card shadow-sm">
                                <h4 class="card-header mb-0">KP55K2</h4>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item"><a href="https://www.kaneka-solar-marketing.jp/pdf/manual/manual_pcs_KP40K_KP55K_KP40K2_KP55K2.pdf" target="_blank">取扱説明書 <img src="{{ 'common_icon_pdf.png' | asset_url }}" width="12" alt="PDF"></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-6 col-md-6 mb-4">
                            <div class="card shadow-sm">
                                <h4 class="card-header mb-0">KP40K2-KS</h4>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item"><a href="https://www.kaneka-solar-marketing.jp/pdf/manual/manual_pcs_KP40K2-KS_KP55K2-KS.pdf" target="_blank">取扱説明書 <img src="{{ 'common_icon_pdf.png' | asset_url }}" width="12" alt="PDF"></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-6 col-md-6 mb-4">
                            <div class="card shadow-sm">
                                <h4 class="card-header mb-0">KP55K2-KS</h4>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item"><a href="https://www.kaneka-solar-marketing.jp/pdf/manual/manual_pcs_KP40K2-KS_KP55K2-KS.pdf" target="_blank">取扱説明書 <img src="{{ 'common_icon_pdf.png' | asset_url }}" width="12" alt="PDF"></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-6 col-md-6 mb-4">
                            <div class="card shadow-sm">
                                <h4 class="card-header mb-0">KP40K2-KS-A</h4>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item"><a href="https://www.kaneka-solar-marketing.jp/pdf/manual/manual_pcs_01.pdf" target="_blank">取扱説明書 <img src="{{ 'common_icon_pdf.png' | asset_url }}" width="12" alt="PDF"></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-6 col-md-6 mb-4">
                            <div class="card shadow-sm">
                                <h4 class="card-header mb-0">KP55K2-KS-A</h4>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item"><a href="https://www.kaneka-solar-marketing.jp/pdf/manual/manual_pcs_01.pdf" target="_blank">取扱説明書 <img src="{{ 'common_icon_pdf.png' | asset_url }}" width="12" alt="PDF"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-5">
                        <div class="col-6 col-md-6 mb-4">
                            <div class="card shadow-sm">
                                <h4 class="card-header mb-0">KP44M</h4>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item"><a href="https://www.kaneka-solar-marketing.jp/pdf/manual/manual_pcs_KP44M_KP55M.pdf" target="_blank">取扱説明書 <img src="{{ 'common_icon_pdf.png' | asset_url }}" width="12" alt="PDF"></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-6 col-md-6 mb-4">
                            <div class="card shadow-sm">
                                <h4 class="card-header mb-0">KP55M</h4>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item"><a href="https://www.kaneka-solar-marketing.jp/pdf/manual/manual_pcs_KP44M_KP55M.pdf" target="_blank">取扱説明書 <img src="{{ 'common_icon_pdf.png' | asset_url }}" width="12" alt="PDF"></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-6 col-md-6 mb-4">
                            <div class="card shadow-sm">
                                <h4 class="card-header mb-0">KP44M-KS</h4>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item"><a href="https://www.kaneka-solar-marketing.jp/pdf/manual/manual_pcs_KP44M-KS_KP55M-K_KP44M-KS-A_KP55M-KS-A.pdf" target="_blank">取扱説明書 <img src="{{ 'common_icon_pdf.png' | asset_url }}" width="12" alt="PDF"></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-6 col-md-6 mb-4">
                            <div class="card shadow-sm">
                                <h4 class="card-header mb-0">KP55M-KS</h4>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item"><a href="https://www.kaneka-solar-marketing.jp/pdf/manual/manual_pcs_KP44M-KS_KP55M-K_KP44M-KS-A_KP55M-KS-A.pdf" target="_blank">取扱説明書 <img src="{{ 'common_icon_pdf.png' | asset_url }}" width="12" alt="PDF"></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-6 col-md-6 mb-4">
                            <div class="card shadow-sm">
                                <h4 class="card-header mb-0">KP44M-KS-A</h4>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item"><a href="https://www.kaneka-solar-marketing.jp/pdf/manual/manual_pcs_KP44M-KS_KP55M-K_KP44M-KS-A_KP55M-KS-A.pdf" target="_blank">取扱説明書 <img src="{{ 'common_icon_pdf.png' | asset_url }}" width="12" alt="PDF"></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-6 col-md-6 mb-4">
                            <div class="card shadow-sm">
                                <h4 class="card-header mb-0">KP55M-KS-A</h4>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item"><a href="https://www.kaneka-solar-marketing.jp/pdf/manual/manual_pcs_KP44M-KS_KP55M-K_KP44M-KS-A_KP55M-KS-A.pdf" target="_blank">取扱説明書 <img src="{{ 'common_icon_pdf.png' | asset_url }}" width="12" alt="PDF"></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-6 col-md-6 mb-4">
                            <div class="card shadow-sm">
                                <h4 class="card-header mb-0">KP44M2-KS</h4>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item"><a href="https://www.kaneka-solar-marketing.jp/pdf/manual/manual_pcs_04.pdf" target="_blank">取扱説明書 <img src="{{ 'common_icon_pdf.png' | asset_url }}" width="12" alt="PDF"></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-6 col-md-6 mb-4">
                            <div class="card shadow-sm">
                                <h4 class="card-header mb-0">KP55M2-KS</h4>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item"><a href="https://www.kaneka-solar-marketing.jp/pdf/manual/manual_pcs_04.pdf" target="_blank">取扱説明書 <img src="{{ 'common_icon_pdf.png' | asset_url }}" width="12" alt="PDF"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h4>田淵電機</h4>
                        </div>
                    </div>
                    <div class="row mb-5">
                        <div class="col-6 col-md-6 mb-4">
                            <div class="card shadow-sm">
                                <h4 class="card-header mb-0">EPC-A-S55P</h4>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item"><a href="https://www.kaneka-solar-marketing.jp/pdf/manual/manual_pcs_EPC-A-S55P.pdf" target="_blank">EneTeius取扱説明書 <img src="{{ 'common_icon_pdf.png' | asset_url }}" width="12" alt="PDF"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            ※旧機種につきましては、販売開始後15年間を目安にこのサイトに掲載いたします。
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>