<main class="mt-3">
    <style>
        .card-header {
            padding-top: 5px;
            padding-bottom: 5px;
        }
        
        .list-group-item {
            font-size: 1.3rem;
        }
    </style>
    <div class="container-fluid px-0 page-content bg-white pb-0">
        <div class="row no-gutters">
            <div class="col">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-10 mb-5">
                            ご利用中のパワーコンディショナやモニターに不具合が生じましたら、<br class="d-none d-md-block">機器メーカーをご確認の上、下記PDF内のセルフチェックを実施してください。<br>改善されない場合やその他ご質問等がございましたら、お客様専用ダイヤルからお問い合わせください。
                            <div class="row no-gutters mt-3">
                                <div class="col-auto">
                                    ※
                                </div>
                                <div class="col">
                                    本ページは旧製品のみとなります。現行品につきましては、取扱説明書からご確認をお願いします。
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h3>オムロン</h3>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-md-6 mb-5">
                                    <div class="card shadow-sm">
                                        <h4 class="card-header mb-0">パワーコンディショナ</h4>
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item"><a href="https://cdn.shopify.com/s/files/1/0916/1175/8963/files/selfcheck_omron_pcs1.pdf?v=1746864586" target="_blank">KP40F / KP55F-N <img src="{{ 'common_icon_pdf.png' | asset_url }}" width="12" alt="PDF"></a></li>
                                            <li class="list-group-item"><a href="https://cdn.shopify.com/s/files/1/0916/1175/8963/files/selfcheck_omron_pcs2.pdf?v=1746864586" target="_blank">KP40H <img src="{{ 'common_icon_pdf.png' | asset_url }}" width="12" alt="PDF"></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-5">
                                    <div class="card shadow-sm">
                                        <h4 class="card-header mb-0">モニター</h4>
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item"><a href="https://cdn.shopify.com/s/files/1/0916/1175/8963/files/selfcheck_omron_monitor2.pdf?v=1746864586" target="_blank">KP-DP1 <img src="{{ 'common_icon_pdf.png' | asset_url }}" width="12" alt="PDF"></a></li>
                                            <li class="list-group-item"><a href="https://cdn.shopify.com/s/files/1/0916/1175/8963/files/selfcheck_omron_monitor1.pdf?v=1746864586" target="_blank">KP-CM-D1 <img src="{{ 'common_icon_pdf.png' | asset_url }}" width="12" alt="PDF"></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h3>GSユアサ (旧日本電池)</h3>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-md-6 mb-5">
                                    <div class="card shadow-sm">
                                        <h4 class="card-header mb-0">パワーコンディショナ</h4>
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item"><a href="https://cdn.shopify.com/s/files/1/0916/1175/8963/files/selfcheck_gsyuasa_pcs.pdf?v=1746864586" target="_blank">LBSC-4.5-S3C <img src="{{ 'common_icon_pdf.png' | asset_url }}" width="12" alt="PDF"></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-5">
                                    <div class="card shadow-sm">
                                        <h4 class="card-header mb-0">モニター</h4>
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item"><a href="https://cdn.shopify.com/s/files/1/0916/1175/8963/files/selfcheck_gsyuasa_monitor.pdf?v=1746864586" target="_blank">ラインバック用モニター <img src="{{ 'common_icon_pdf.png' | asset_url }}" width="12" alt="PDF"></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h3>ナショナル (現PANASONIC)</h3>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-md-6 mb-5">
                                    <div class="card shadow-sm">
                                        <h4 class="card-header mb-0">パワーコンディショナ</h4>
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item"><a href="https://cdn.shopify.com/s/files/1/0916/1175/8963/files/selfcheck_national_pcs.pdf?v=1746864586" target="_blank">PV-PC01 <img src="{{ 'common_icon_pdf.png' | asset_url }}" width="12" alt="PDF"></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-5">
                                    <div class="card shadow-sm">
                                        <h4 class="card-header mb-0">モニター</h4>
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item"><a href="https://cdn.shopify.com/s/files/1/0916/1175/8963/files/selfcheck_national_monitor.pdf?v=1746864586" target="_blank">モニターユニット <img src="{{ 'common_icon_pdf.png' | asset_url }}" width="12" alt="PDF"></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h3>三菱電機</h3>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-md-6 mb-5">
                                    <div class="card shadow-sm">
                                        <h4 class="card-header mb-0">パワーコンディショナ</h4>
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item"><a href="https://cdn.shopify.com/s/files/1/0916/1175/8963/files/selfcheck_mitsubishi_pcs.pdf?v=1746864586" target="_blank">PV-PN04B3 <img src="{{ 'common_icon_pdf.png' | asset_url }}" width="12" alt="PDF"></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-5">
                                    <div class="card shadow-sm">
                                        <h4 class="card-header mb-0">モニター</h4>
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item"><a href="https://cdn.shopify.com/s/files/1/0916/1175/8963/files/selfcheck_mitsubishi_monitor.pdf?v=1746864586" target="_blank">PV-DR001 <img src="{{ 'common_icon_pdf.png' | asset_url }}" width="12" alt="PDF"></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>